<%- include("handf/header", {bodyclass: "single single-post"}) %>

		<!-- <main role="main">
			<div id="intro-wrap">
				<div id="intro" class="preload darken" data-autoplay="5000" data-navigation="true" data-pagination="true" data-transition="fade">
					<div class="intro-item" style="background-image: url(http://placehold.it/1800x600/ddd/fff&text=Beetle%20image);">
						<div class="photocaption">
							<h4>Photography by <a href="http://danielezedda.com/">Daniele Zedda</a></h4>
						</div>
					</div>
					<div class="intro-item" style="background-image: url(http://placehold.it/1800x600/ddd/fff&text=Beetle%20image);">
						<div class="photocaption">
							<h4>Photography by <a href="http://danielezedda.com/">Daniele Zedda</a></h4>
						</div>
					</div>	
					<div class="intro-item" style="background-image: url(http://placehold.it/1800x600/ddd/fff&text=Beetle%20image);">
						<div class="photocaption">
							<h4>Photography by <a href="http://danielezedda.com/">Daniele Zedda</a></h4>
						</div>
					</div>	
					<div class="intro-item" style="background-image: url(http://placehold.it/1800x600/ddd/fff&text=Beetle%20image);">
						<div class="photocaption">
							<h4>Photography by <a href="http://danielezedda.com/">Daniele Zedda</a></h4>
						</div>
					</div>															
				</div>			
			</div> -->
			<main>
				<div id="intro-wrap" class="full-height">
					<div id="intro" class="preload darken more-button">					
							<div class="caption">
								<h2>Literary Magazine</h2>
								<p>A compilation of thought-provoking and compelling writing: reflecting the law at our heart
								</p>
							</div><!-- caption -->
																		
						</div>								
					</div><!-- intro -->
				</div><!-- intro-wrap -->

			<!-- <div id="main" class="row">
				<div class="row-content buffer-left buffer-right buffer-bottom">
					<div id="post-nav">
						<ul class="clear-after reset plain">
							<li id="prev-items" class="post-nav"><a href="#"><i class="fa fa-chevron-left"></i><span class="label">Prev</span></a></li> 
							<li id="all-items" class="post-nav"><a href="#"><i class="icon icon-images"></i></a></li> 							 
							<li id="next-items" class="post-nav"><a href="#"><span class="label">Next</span><i class="fa fa-chevron-right"></i></a></li>  
						</ul>
					</div>

					<div class="post-area clear-after">
						<article role="main">
							<h5 class="meta-post"><a href="#">Travels</a>, <a href="#">World</a> - <time datetime="2013-11-09">November 9, 2013</time></h5>
							<h1>Literary Magazine</h1>
							</article>

					</div>					
				</div>
						</div>
		</main>main -->
		<div class="main" id="main">
			<section class="row section" style="background-color: #332219; position:relative;">
				<div class="row-content buffer even clear-after" style=" z-index: 5;" >
					<div class="section-title"><h3 style="color: white; border-bottom-color: white">Litearary Magazine</h3></div>
					<div class="grid-items blog-section masonry-style preload">
						<article class="item column three">
							<a href="#">
								<figure><img src="http://placehold.it/800x600/ddd/fff&text=Beetle%20image" alt=""><span class="blog-overlay"><i class="fa-regular fa-file-lines"></i></span></figure>
								<div class="blog-excerpt">
									<div class="">
										<h5 class="meta-post">Relax, Hobbies</h5>
										<h2>How I spend my time</h2>
										<p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</div><!-- blog-excerpt-inner -->
								</div><!-- blog-excerpt -->
							</a>
						</article>
						<article class="item column three">
							<a href="#">
								<figure><img src="http://placehold.it/800x600/ddd/fff&text=Beetle%20image" alt=""><span class="blog-overlay"><i class="fa-regular fa-file-lines"></i></span></figure>
								<div class="blog-excerpt">
									<div class="">
										<h5 class="meta-post">Relax, Hobbies</h5>
										<h2>How I spend my time</h2>
										<p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</div><!-- blog-excerpt-inner -->
								</div><!-- blog-excerpt -->
							</a>
						</article>
						<article class="item column three">
							<a href="#">
								<figure><img src="http://placehold.it/800x600/ddd/fff&text=Beetle%20image" alt=""><span class="blog-overlay"><i class="fa-regular fa-file-lines"></i></span></figure>
								<div class="blog-excerpt">
									<div class="">
										<h5 class="meta-post">Relax, Hobbies</h5>
										<h2>How I spend my time</h2>
										<p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</div><!-- blog-excerpt-inner -->
								</div><!-- blog-excerpt -->
							</a>
						</article>
						<article class="item column three">
							<a href="#">
								<figure><img src="http://placehold.it/800x600/ddd/fff&text=Beetle%20image" alt=""><span class="blog-overlay"><i class="fa-regular fa-file-lines"></i></span></figure>
								<div class="blog-excerpt">
									<div class="">
										<h5 class="meta-post">Holidays</h5>
										<h2>Snow &amp; silence</h2>
										<p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</div><!-- blog-excerpt -->
								</div><!-- blog-excerpt-inner -->
							</a>
						</article>
						<article class="item column three">
							<a href="#">
								<figure><img src="http://placehold.it/800x600/ddd/fff&text=Beetle%20image" alt=""><span class="blog-overlay"><i class="fa-regular fa-file-lines"></i></span></figure>
								<div class="blog-excerpt">
									<div class="">
										<h5 class="meta-post">Relax, Hobbies</h5>
										<h2>How I spend my time</h2>
										<p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</div><!-- blog-excerpt-inner -->
								</div><!-- blog-excerpt -->
							</a>
						</article>
						<article class="item column three">
							<a href="#">
								<figure><img src="http://placehold.it/800x600/ddd/fff&text=Beetle%20image" alt=""><span class="blog-overlay"><i class="fa-regular fa-file-lines"></i></span></figure>
								<div class="blog-excerpt">
									<div class="">
										<h5 class="meta-post">Relax, Hobbies</h5>
										<h2>How I spend my time</h2>
										<p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</div><!-- blog-excerpt-inner -->
								</div><!-- blog-excerpt -->
							</a>
						</article>
						<article class="item column three">
							<a href="#">
								<figure><img src="http://placehold.it/800x600/ddd/fff&text=Beetle%20image" alt=""><span class="blog-overlay"><i class="fa-regular fa-file-lines"></i></span></figure>
								<div class="blog-excerpt">
									<div class="">
										<h5 class="meta-post">Relax, Hobbies</h5>
										<h2>How I spend my time</h2>
										<p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</div><!-- blog-excerpt-inner -->
								</div><!-- blog-excerpt -->
							</a>
						</article>
						<article class="item column three ">
							<a href="#">
								<figure><img src="http://placehold.it/800x600/ddd/fff&text=Beetle%20image" alt=""><span class="blog-overlay"><i class="fa-regular fa-file-lines"></i></span></figure>
								<div class="blog-excerpt">
									<div class="">
										<h5 class="meta-post">Relax, Hobbies</h5>
										<h2>How I spend my time</h2>
										<p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</div><!-- blog-excerpt-inner -->
								</div><!-- blog-excerpt -->
							</a>
						</article>
						<article class="item column three last">
							<a href="#">
								<figure><img src="http://placehold.it/800x600/ddd/fff&text=Beetle%20image" alt=""><span class="blog-overlay"><i class="fa-regular fa-file-lines"></i></span></figure>
								<div class="blog-excerpt">
									<div class="">
										<h5 class="meta-post">Relax, Hobbies</h5>
										<h2>How I spend my time</h2>
										<p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</div><!-- blog-excerpt-inner -->
								</div><!-- blog-excerpt -->
							</a>
						</article>	
			
						<div class="shuffle-sizer three"></div>
			</section>
		</div>
		<%- include("handf/footer") %>