<%- include("handf/header", {bodyclass: "single single-post"}) %>		
<main role="main" >
			<div id="intro-wrap"class="full-height">
				<div id="intro" class="preload  more-button">
					<div class="caption">
						<h2>Events</h2>
						<p>Coming soon?</p>
					</div>
				</div><!-- intro -->				
			</div><!-- intro-wrap -->

			<div id="main" class="row">
				<div class="row-content buffer-left buffer-right buffer-bottom clear-after">
          <div class="related clear-after">
						<h4>Events</h4>
						<div class="item">
							<figure><img src="http://placehold.it/400x400/ddd/fff&text=Beetle%20image" alt=""></figure>
							<a class="overlay" href="#">
								<div class="overlay-content">
									<div class="post-type"><i class="icon icon-search"></i></div>
									<h2>Spicemode</h2>
									<p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								</div><!-- overlay-content -->
							</a><!-- overlay -->								
						</div>
						<div class="item">
							<figure><img src="http://placehold.it/400x400/ddd/fff&text=Beetle%20image" alt=""></figure>
							<a class="overlay" href="#">
								<div class="overlay-content">
									<div class="post-type"><i class="icon icon-search"></i></div>
									<h2>In the end</h2>
									<p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								</div><!-- overlay-content -->
							</a><!-- overlay -->								
						</div>
						<div class="item last">
							<figure><img src="http://placehold.it/400x400/ddd/fff&text=Beetle%20image" alt=""></figure>
							<a class="overlay" href="#">
								<div class="overlay-content">
									<div class="post-type"><i class="icon icon-search"></i></div>
									<h2>Moove</h2>
									<p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								</div><!-- overlay-content -->
							</a><!-- overlay -->								
						</div>														
					</div>				

					</div><!-- post-area -->
								

				
				</div><!-- row-content -->
			</div><!-- row -->
		</main><!-- main -->

		<%- include("handf/footer") %>