<%- include("handf/header", {bodyclass: "portfolio page"}) %>
		<main role="main">
			<div id="intro-wrap"  data-height="22.222">
				<div id="intro" class="preload darken" >
						<div class="caption" >
							<h2>Curriculum</h2>
							<p>The universe is made of stories, not of atoms.</p>
						</div><!-- caption -->		
					</div><!-- intro -->
				</div><!-- intro -->		

				<div class=" row" id="main">
					<section class="row section" style="background-color: #332219;">
						<div class="row-content buffer even clear-after">
							<div class="section-title">
								<h3 style="color: white; border-bottom-color: white">INTRODUCTION TO LAW</h3>
							</div>
							<div id="main" class="row" style="margin-bottom: 10px;">
								<div style="background-color: #332219;" class="row-content buffer clear-after">
									<ul class="inline cats filter-options">
										<li data-group="nature">Nature</li>
										<li data-group="sun">Sun</li>
										<li data-group="water">Water</li>
										<li data-group="wind">Wind</li>
										<li data-group="people">People</li>
										<li data-group="city">City</li>
									</ul>
		
									<div class="grid-items blog-section masonry-style lightbox preload">
										<article class="item column three" data-groups='["people", "sun"]'>
											<a href="#">
												<figure><img src="http://placehold.it/800x600/ddd/fff&text=Beetle%20image" alt=""><span
														class="blog-overlay"><i class="icon icon-doc"></i></span></figure>
												<div class="blog-excerpt">
													<div class="blog-excerpt-inner">
														<h5 class="meta-post">Relax, Hobbies</h5>
														<h2>How I spend my time</h2>
														<p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
															aliqua.</p>
													</div><!-- blog-excerpt-inner -->
												</div><!-- blog-excerpt -->
											</a>
										</article>
										<article class="item column three" data-groups='["water", "wind"]'>
											<a href="#">
												<figure><img src="http://placehold.it/800x600/ddd/fff&text=Beetle%20image" alt=""><span
														class="blog-overlay"><i class="icon icon-doc"></i></span></figure>
												<div class="blog-excerpt">
													<div class="blog-excerpt-inner">
														<h5 class="meta-post">Relax, Hobbies</h5>
														<h2>How I spend my time</h2>
														<p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
															aliqua.</p>
													</div><!-- blog-excerpt-inner -->
												</div><!-- blog-excerpt -->
											</a>
										</article>
										<article class="item column three" data-groups='["people", "city"]'>
											<a href="#">
												<figure><img src="http://placehold.it/800x600/ddd/fff&text=Beetle%20image" alt=""><span
														class="blog-overlay"><i class="icon icon-doc"></i></span></figure>
												<div class="blog-excerpt">
													<div class="blog-excerpt-inner">
														<h5 class="meta-post">Relax, Hobbies</h5>
														<h2>How I spend my time</h2>
														<p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
															aliqua.</p>
													</div><!-- blog-excerpt-inner -->
												</div><!-- blog-excerpt -->
											</a>
										</article>
										<article class="item column three" data-groups='["wind", "city"]'>
											<a href="#">
												<figure><img src="http://placehold.it/800x600/ddd/fff&text=Beetle%20image" alt=""><span
														class="blog-overlay"><i class="icon icon-doc"></i></span></figure>
												<div class="blog-excerpt">
													<div class="blog-excerpt-inner">
														<h5 class="meta-post">Holidays</h5>
														<h2>Snow &amp; silence</h2>
														<p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
															aliqua.</p>
													</div><!-- blog-excerpt -->
												</div><!-- blog-excerpt-inner -->
											</a>
										</article>
										<article class="item column three" data-groups='["nature", "wind"]'>
											<a href="#">
												<figure><img src="http://placehold.it/800x600/ddd/fff&text=Beetle%20image" alt=""><span
														class="blog-overlay"><i class="icon icon-doc"></i></span></figure>
												<div class="blog-excerpt">
													<div class="blog-excerpt-inner">
														<h5 class="meta-post">Relax, Hobbies</h5>
														<h2>How I spend my time</h2>
														<p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
															aliqua.</p>
													</div><!-- blog-excerpt-inner -->
												</div><!-- blog-excerpt -->
											</a>
										</article>
										<article class="item column three" data-groups='["nature", "sun"]'>
											<a href="#">
												<figure><img src="http://placehold.it/800x600/ddd/fff&text=Beetle%20image" alt=""><span
														class="blog-overlay"><i class="icon icon-doc"></i></span></figure>
												<div class="blog-excerpt">
													<div class="blog-excerpt-inner">
														<h5 class="meta-post">Relax, Hobbies</h5>
														<h2>How I spend my time</h2>
														<p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
															aliqua.</p>
													</div><!-- blog-excerpt-inner -->
												</div><!-- blog-excerpt -->
											</a>
										</article>
										<article class="item column three" data-groups='["people", "city"]'>
											<a href="#">
												<figure><img src="http://placehold.it/800x600/ddd/fff&text=Beetle%20image" alt=""><span
														class="blog-overlay"><i class="icon icon-doc"></i></span></figure>
												<div class="blog-excerpt">
													<div class="blog-excerpt-inner">
														<h5 class="meta-post">Relax, Hobbies</h5>
														<h2>How I spend my time</h2>
														<p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
															aliqua.</p>
													</div><!-- blog-excerpt-inner -->
												</div><!-- blog-excerpt -->
											</a>
										</article>
		
										<div class="shuffle-sizer three"></div>
									</div>
								</div>
							</div>
		
					</section>
				</div>


				<%- include("handf/footer") %>