<%- include("handf/header", {bodyclass: "page"}) %>


	<main role="main">
		<div id="intro-wrap" class="full-height">
			<div id="intro" class="preload darken more-button">
				<div class="caption">
					<h2>Legal Horizons</h2>
					<p>Increasing opportunities and resources: country by country, school by school, one by one</p>
				</div><!-- caption -->

			</div>
		</div><!-- intro -->
		</div><!-- intro-wrap -->


		<div id="main">

			<section class="row section ma-color" >
				<div class="row-content buffer even clear-after">
					<div class="custom-carousel" data-autoplay="3000" data-pagination="true" data-transition="fade"
						data-autoheight="false">
						<div class="carousel-item">
							<div class="column four">
								<img src="courtroom.jpeg" style="height: 314.88; width: 314.88;	margin: auto; border-radius: 10px;">
							</div>
							<div class="column eight last">
								<h3>Our mission.</h3>
								<p>Legal Horizons aims to increase the opportunities and resources available for high schoolers across the world, interested in pursuing a career in law. Knowledge is key, awareness is crucial, and Legal Horizons aims to do all of the above.</p>
							</div>
						</div><!-- carousel-item -->
						<div class="carousel-item">
							<div class="column four">
								<img src="balance.jpeg" style="height: 314.88; width: 314.88;	margin: auto; border-radius: 10px;">
							</div>
							<div class="column eight last">
								<h3>What are we doing?</h3>
								<p>Through the law curriculum and resources that we've developed, we intend on helping other schools start their own Legal Horizons Chapters that serve as a law related or mock trial club. Along with that, we've got a myriad of workshops, seminars, mock trials, competitions, and legal debates for you to also look forward to.</p>
							</div>
						</div><!-- carousel-item -->
						<div class="carousel-item">
							<div class="column four">
								<img src="gavel.jpeg" style="height: 314.88; width: 314.88;	margin: auto; border-radius: 10px;">
							</div>
							<div class="column eight last">
								<h3>Why are we doing this?</h3>
								<p>We've recognized the lack of support, programs, activities, and opportunities in a multitude of countries, and we've realized the need for Legal Horizons to step in. We truly hope to enrich the understanding of what law is, and ensure these passionate and interested students gain realistic, enjoyable, and practical knowledge of this field.</p>
							</div>
						</div><!-- carousel-item -->
					</div>
				</div>
			</section>


			<section class="row section ma-color2">
				<div class="row-content buffer even clear-after" style="margin: 20px; color: white !important;">
					<div class="column four">
						<div class="small-icon"><i class="fa fa-linux" style="color: #8B7566"></i></div>
						<div class="small-icon-text clear-after">
							<h4>Responsive</h4>
							<p class="text-xs">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
								incididunt ut labore et dolore magna aliqua.</p>
						</div>
					</div>
					<div class="column four">
						<div class="small-icon"><i class="fa fa-dribbble" style="color: #8B7566"></i></div>
						<div class="small-icon-text clear-after">
							<h4>Blog</h4>
							<p class="text-xs">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
								incididunt ut labore et dolore magna aliqua.</p>
						</div>
					</div>
					<div class="column four last">
						<div class="small-icon"><i class="fa fa-pagelines" style="color: #8B7566"></i></div>
						<div class="small-icon-text clear-after">
							<h4>Layer CSS</h4>
							<p class="text-xs">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
								incididunt ut labore et dolore magna aliqua.</p>
						</div>
					</div>
				</div>
			<!-- </section>

			<section class="row section" style="background-color:#805741;">
				<div class="row-content buffer even clear-after">
					<div class="section-title">
						<h3>Literary Magazine</h3>
					</div>
					<div class="grid-items blog-section masonry-style preload">
						<article class="item column six">
							<a href="#">
								<figure><img src="http://placehold.it/800x600/ddd/fff&text=Beetle%20image" alt=""><span
										class="blog-overlay"><i class="fa-regular fa-file-lines" style="color: #white;"></i></i></span></figure>
								<div class="blog-excerpt">
									<div class="blog-excerpt-inner">
										<h5 class="meta-post">Interior design</h5>
										<h2>A confortable desk</h2>
									</div>
								</div>
							</a>
						</article>
						<article class="item column three">
							<a href="#">
								<figure><img src="http://placehold.it/800x600/ddd/fff&text=Beetle%20image" alt=""><span
										class="blog-overlay"><i class="fa-regular fa-file-lines" style="color: #white;"></i></span></figure>
								<div class="blog-excerpt">
									<div class="blog-excerpt-inner">
										<h5 class="meta-post">Relax, Hobbies</h5>
										<h2>How I spend my time</h2>
										<p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
										</p>
									</div>
								</div>
							</a>
						</article>
						<article class="item column three">
							<a href="#">
								<figure><img src="http://placehold.it/800x600/ddd/fff&text=Beetle%20image" alt="">
									<span class="blog-overlay"><i class="fa-regular fa-file-lines" style="color: #white;"></i></span></figure>
								<div class="blog-excerpt">
									<div class="blog-excerpt-inner">
										<h5 class="meta-post">Holidays</h5>
										<h2>Snow &amp; silence</h2>
										<p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
										</p>
									</div>
								</div>
							</a>
						</article>

						<div class="shuffle-sizer three"></div>
					</div>
					<div class="more-btn"><a class="button transparent " style=" border-color: white;"
							href="curriculum.html"><span style="color: white;">Read all News</span></a></div>
				</div>
			</section> -->


			<section class="row section ma-color2" style="padding-bottom: 10px; ">
				<div class=" row-content buffer even clear-after" style=" display: flex; align-items: center; justify-content: center;">
					<div class="column three">
						<div class="count-item">
							<div class="small-icon"><i class="fa-solid fa-book-open" style="color: #8B7566"></i></i></div>
							<div class="count-number" data-from="0" data-to="19" data-speed="1000" data-refresh-interval="25"></div>
							<div class="count-subject">Legal Horizons <br>Chapters</div>
						</div><!-- count-item -->
					</div>
					<div class="column three">
						<div class="count-item">
							<div class="small-icon"><i class="fa-solid fa-scale-balanced" style="color: #8B7566"></i></div>
							<div class="count-number" data-from="0" data-to="25" data-speed="1000" data-refresh-interval="25">
							</div>
							<div class="count-subject">Law resources in our <br> curriculum</div>
						</div><!-- count-item -->
					</div>
					<div class="column three last">
						<div class="count-item">
							<div class="small-icon"><i class="fa-solid fa-user-graduate" style="color: #8B7566"></i></div>
							<div class="count-number" data-from="0" data-to="34" data-speed="1000" data-refresh-interval="25">
							</div>
							<div class="count-subject">Campus<br> Ambassadors</div>
						</div><!-- count-item -->
					</div>
				</div>
			</section>

			<section  class="row section text-light" style="background-color: #8b7566">
				<div class="row-content buffer even clear-after">
					<div class="slogan animation">
						<h2 style="color: #EFB37C;">Country by country, school by school, one by one</h2>
						<p style="visibility: hidden">.<p>
					</div><!-- slogan -->
				</div>
			</section>




		</div><!-- id-main -->
	</main><!-- main -->

<%- include("handf/footer") %>