<%- include("handf/header", {bodyclass: "page"}) %>
		<main role="main">
			<div id="intro-wrap" class="full-height">
				<div id="intro" class="preload darken more-button">					
						<div class="caption">
							<h2>About Us</h2>
							<p>Meet THE team.</p>
						</div><!-- caption -->
																	
					</div>								
				</div><!-- intro -->
			</div><!-- intro-wrap -->

			
			<!-- intro -->
			

			<div id="main">

<!-- 				 -->
				<!-- <section class="row section">
					<div class="row-content buffer even clear-after">
						<div class="custom-carousel" data-autoplay="5000" data-pagination="true" data-transition="fade" data-autoheight="false">
							<div class="carousel-item">
								<div class="column four">
									<img src="http://placehold.it/800x300/ddd/fff&text=Beetle%20image" alt="">
								</div>
								<div class="column eight last">
									<h3>I create simple interfaces for humans and enjoy pixel-perfection.</h3>
									<p>I’m an experienced and passionate user interface designer with interaction design background.</p>
								</div>
							</div>
							<div class="carousel-item">
								<div class="column four">
									<img src="http://placehold.it/800x300/ddd/fff&text=Beetle%20image" alt="">
								</div>
								<div class="column eight last">
									<h3>I am a top experience designer.</h3>
									<p>I’m an experienced and passionate user interface designer with interaction design background.</p>
								</div>
							</div>
							<div class="carousel-item">
								<div class="column four">
									<img src="http://placehold.it/800x300/ddd/fff&text=Beetle%20image" alt="">
								</div>
								<div class="column eight last">
									<h3>I am a Themeforest Elite Author.</h3>
									<p>I’m an experienced and passionate user interface designer with interaction design background.</p>
								</div>
							</div>
						</div>			
					</div>
				</section>	

								 -->
				<section class="row section text-light ma-color" >
					<div class="section-title" style="padding-top: 100px; ;"><h3>The Best Team in the World</h3></div>
					<div class="row-content buffer even clear-after ma-center margin: 0px; padding: 0px">
						<div class="column three">
							<figure class="about-us">
								<img src="http://placehold.it/600x600/ddd/fff&text=Beetle%20image" alt="">
								<figcaption>
									<h4>Siya Sawhney</h4>
									<p>Founder and Director</p>
								</figcaption>
							</figure>
						</div>							
						<div class="column three last">
							<figure class="about-us">
								<img src="http://placehold.it/600x600/ddd/fff&text=Beetle%20image" alt="">
								<figcaption>
									<h4>Aryan Agarwal</h4>
									<p>Founder and Vice Director
									</p>
								</figcaption>
							</figure>
						</div>
					</div>
					<div class="row-content buffer even clear-after ma-center">
						<div class="column three">
							<figure class="about-us">
								<img src="http://placehold.it/600x600/ddd/fff&text=Beetle%20image" alt="">
								<figcaption>
									<h4>Sujay Sanjith</h4>
									<p>Head of Ambassadors
									</p>
								</figcaption>
							</figure>
						</div>							
						<div class="column three">
							<figure class="about-us">
								<img src="http://placehold.it/600x600/ddd/fff&text=Beetle%20image" alt="">
								<figcaption>
									<h4>Tanvi Rajesh</h4>
									<p>Head of Writing
									</p>
								</figcaption>
							</figure>
						</div>
						<div class="column three last">
							<figure class="about-us">
								<img src="http://placehold.it/600x600/ddd/fff&text=Beetle%20image" alt="">
								<figcaption>
									<h4>Aman Praveen Kumar</h4>
									<p>Head of External Affairs
									</p>
								</figcaption>
							</figure>
						</div>	
					</div>
					<div class="row-content buffer even clear-after ma-center">
						<div class="column three">
							<figure class="about-us">
								<img src="http://placehold.it/600x600/ddd/fff&text=Beetle%20image" alt="">
								<figcaption>
									<h4>Mayankh Agarwal</h4>
									<p>Head of Technology
									</p>
								</figcaption>
							</figure>
						</div>							
						<div class="column three last">
							<figure class="about-us">
								<img src="http://placehold.it/600x600/ddd/fff&text=Beetle%20image" alt="">
								<figcaption>
									<h4>Srishtee Johar</h4>
									<p>Head of Events</p>
								</figcaption>
							</figure>
						</div>
					</div>
			</div><!-- id-main -->
		</main><!-- main -->
		<%- include("handf/footer") %>