<footer role="contentinfo">
  <div class="row">
    <div class="row-content buffer clear-after">
      <section id="top-footer">
        <div class="widget column three"><!-- la class="widget" è forse generata utomaticamente da wp -->
          <h4>Menu</h4>
          <ul class="plain">
            <li><a href="home-01.html">Home</a></li>
            <li><a href="home-03.html">About</a></li>
            <li><a href="blog-list-sidebar.html">Curriculum</a></li>
            <li><a href="curriculum.html">Literary Magazine</a></li>
          </ul>
        </div>
        <div class="widget column three">
          <h4>Contact Us</h4>
          <p>Email us at contactlegalhorizons@gmail.com incase you have any queries</p>
        </div>
        <div class="widget meta-social column three">
          <h4>Follow Us</h4>
          <ul class="inline">
            <li><a href="https://www.instagram.com/legalhorizons/" class="twitter-share border-box"><i
                  class="fa fa-instagram fa-lg"></i></a></li>
            <li><a href="https://www.linkedin.com/company/legal-horizons/about/" class="facebook-share border-box"><i
                  class="fa fa-linkedin fa-lg"></i></a></li>
            <li><a href="https://linktr.ee/legalhorizons" class="facebook-share border-box"><i
                  class="fa fa-link fa-lg"></i></a></li>
          </ul>
        </div>
      </section><!-- top-footer -->

    </div><!-- row-content -->
  </div><!-- row -->
</footer>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="/plugins.js"></script>
<script src="/beetle.js"></script>

</body>

</html>