<!DOCTYPE html>
<html lang="en">
<!--HOME PAGE-->

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="description" content="The Page Description">
	<style type="text/css">
		@-ms-viewport {
			width: device-width;
		}
	</style>
	<title>Legal Horizons - Home page</title>
	<link rel="stylesheet" href="/layers.min.css" media="screen">
	<script src="https://kit.fontawesome.com/7d4acf76ef.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/font-awesome.min.css" media="screen"> 
	<link rel="stylesheet" href="/style.css" media="screen">
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400italic,700italic,400,700'
		rel='stylesheet' type='text/css'>
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->
	<link rel="icon" href="/logo.jpeg">

</head>

<body class=<%= bodyclass %>>

	<header role="banner" class="transparent light">
		<div class="row">
			<div class="nav-inner row-content buffer-left buffer-right even clear-after">
				<div id="brand">
					<h1 class="reset"><!--<img src="img/logo.png" alt="logo">--><a href="/">Legal Horizons</a></h1>
				</div><!-- brand -->
				<a id="menu-toggle" href="#"><i class="fa fa-bars fa-lg"></i></a>
				<nav>
					<ul class="reset" role="navigation">
						<li class="menu-item">
							<a href="#">More</a>
							<ul class="sub-menu">
								<li><a href="/affiliations">Affiliations</a></li>
								<li><a href="/events">Events</a></li>
								<li><a href="https://forms.gle/RuCjSz4o7YVZgspp8">Campus Ambassador Applications</a></li>
							</ul>
						</li>
						
						<li class="menu-item">
							<a href="/about">About</a>
						</li>
						<li class="menu-item">
							<a href="/curriculum">Curriculum</a>
						</li>
						<li class="menu-item"><a href="/magazine">Literary magazine</a>
						</li>
						<li class="menu-item">
							<a href="/">Home</a>
						</li>
					</ul>
				</nav>
			</div><!-- row-content -->
		</div><!-- row -->
	</header>